* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 310px;
    height: 310px;
    background-color:aqua;
    color: black;
}

#main-board{
    margin-left: 670px;
    margin-top: 150px;
}
#heading{
    margin-left: 740px;
    margin-top: 100px;
}

#winnerDiv{
    margin-left: 775px;
    margin-top: 10px;
}

td{
    width: 100px;
    height: 100px;
}

.border-down{
    border-bottom:2px solid red ;
}

.border-right{
    border-right:2px solid red ;
}